
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body class="cus">

    <h1 class="cus">Product List</h1>
    <center>
<table class="table" style="text-align: center;">
<thead >
    <tr style="text-align: center;">
        <th>Product Name</th>
        <th>Product Category</th>
        <th>View</th> 
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <br>
</thead>
<tbody>
    {% for product in object_list %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td><a href="{% url "product_view" product.id %}">view</a></td>
        <td><a href="{% url "product_edit" product.id %}">edit</a></td>
        <td><a href="{% url "product_delete" product.id %}">delete</a></td>
    </tr>
    <br>
    {% endfor %}
</tbody>
</table>

<a class = 'btn btn-primary'href="{% url "product_new" %}">Add New</a>
</center>
</body>