<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   

    {% load static %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="cus">
    
<h1 class="cus">Product Details</h1>
<div class="cus">

<img src="{{ object.photo.url }}" class="img-responsive" style=" border: 1px solid black; ;width: 220px; height: 220px; float: left; margin-right: 10px;" />
<br>

<p class="cus">Name: {{object.name}}</p>
<p class="cus">Description: {{ object.description }}</p>
<p class="cus">Manufacturer: {{ object.manufacturer }}</p>
<br>
<br>
<p class="cus">Manufactured Date: {{ object.date_manufactured }}</p>
<p class="cus">Price: {{ object.price }}</p>
<p class="cus">Availablity: {%if object.availablity%} Yes {%else%} No {%endif%} </p>
<p class="cus">Category: {{ object.category }}</p>
<p class="cus">Offers :{%for i in object.offers%} {{i}} {% endfor %}</p>
<p class="cus">Warranty :{%for i in object.warranty%} {{i}} {% endfor %}</p>
</div>

</body> 

